/node_modules/
/lib/
/test/
custom-elements.json

/json/

/app.js
/app.js.map

/map-app.js
/map-app.js.map
/map-app.d.ts
/map-app.d.ts.map

/map-table.js
/map-table.js.map
/map-table.d.ts
/map-table.d.ts.map

/constants.js
/constants.js.map
/constants.d.ts
/constants.d.ts.map

/entry-types.js
/entry-types.js.map
/entry-types.d.ts
/entry-types.d.ts.map

/filter-parser.js
/filter-parser.js.map
/filter-parser.d.ts
/filter-parser.d.ts.map

/utils.js
/utils.js.map
/utils.d.ts
/utils.d.ts.map

!custom_typings/

/docs/
*.pyc

.DS_Store
