/node_modules/
/lib/
/test/
custom-elements.json

/map-app.js
/map-app.js.map
/map-app.d.ts
/map-app.d.ts.map

/map-table.js
/map-table.js.map
/map-table.d.ts
/map-table.d.ts.map

/map-row.js
/map-row.js.map
/map-row.d.ts
/map-row.d.ts.map

/utils.js
/utils.js.map
/utils.d.ts
/utils.d.ts.map

!custom_typings/

/docs/
*.pyc

.DS_Store
