/node_modules/
/lib/
/test/
custom-elements.json

/json/

# Typescript build output
/*.js
/*.js.map
/*.d.ts
/*.d.ts.map

# Keep the tracked root config files
!/rollup.config.js
!/web-dev-server.config.js
!/web-test-runner.config.js

/docs/
*.pyc

.DS_Store
